# Ignore build output directory
/.theia
/.vscode
/.wsdata
/_ide

#Ignore logs folder and log files
/logs

#Ignore lock files
.lock
Mondrian_forest/.hls.failed

#Ignore data files
/Datasets
/Tree_results
