# Ignore build output directory
/.theia
/.vscode
/.wsdata
/_ide

#Ignore logs folder and log files
/logs

#Ignore lock files
.lock
Mondrian_forest/.hls.failed

#Ignore data files
/Datasets
/Tree_results
Mondrian_forest/.vscode/settings.json
Mondrian_forest/.vscode/settings.json
Mondrian_forest/.vscode/settings.json
PackagedIP/managed_ip_project/managed_ip_project.hw/managed_ip_project.lpr
PackagedIP/managed_ip_project/managed_ip_project.hw/managed_ip_project.lpr
PackagedIP/managed_ip_project/managed_ip_project.hw/managed_ip_project.lpr
PackagedIP/managed_ip_project/managed_ip_project.xpr
PackagedIP/managed_ip_project/managed_ip_project.xpr
PackagedIP/managed_ip_project/managed_ip_project.xpr
PackagedIP/managed_ip_project/managed_ip_project.cache/wt/project.wpc
PackagedIP/managed_ip_project/managed_ip_project.cache/wt/project.wpc
PackagedIP/managed_ip_project/managed_ip_project.cache/wt/project.wpc
